<div>
  <a href="#/">View List</a>
  <a href="#/add">Add Movie</a>
</div>
<h1>Movie List</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Main Actors</th>
        <th>Rating</th>
        <th>Watched?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, movie) in view.movies">
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td><span ng-repeat="actor in movie.Actors">{{actor}}</span></td>
        <td>{{movie.Rating}}</td>
        <td>
          <input type="checkbox"
            ng-model="movie.Watched"
            ng-change="view.setMovieWatched(key)"
            ng-checked="{{movie.Watched}}">
        </td>
        <td>
          <button type="submit" ng-click="view.deleteMovie(key)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
