<div>
	<a href="#/">View List</a>
	<a href="#/add">Add Movie</a>
</div>
<h1>Movie List</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Year</th>
				<th>Main Actors</th>
				<th>Rating</th>
				<th>Watched?</th>
			</tr>
		</thead>
		<tbody ng-repeat=''>
			<tr>
				<td>{{}}</td> <!-- title -->
				<td>{{}}</td> <!-- year -->
				<td>{{}}</td> <!-- main actors -->
				<td>{{}}</td> <!-- rating -->
	 			<td><input type="checkbox" name="" value=""></td> <!-- watched checkbox -->
			</tr>
		</tbody>
	</table>
</div>
